.form-group {
    width: 500px;
}

#display {
    border: 1px solid rgb(210, 210, 230);
    border-radius: 3px;
    width: 500px;
    min-height: 100px;
    margin-top: 10px;
    padding: 10px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    /* background-color: #8064A2 !important; */
    /* color: rgb(46, 46, 46) !important; */
}