.boxes{
    border: rgb(183, 182, 182) 1px solid; 
    width: 170px; 
    height: 170px;
    text-align: center;
    padding-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
    
}

.dayHeadings{
    text-align: center;
    margin-bottom: 0%;
    border-style: solid;
    border-color: gray;
}

.drop-down{
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: gray;
    color: white;
    font-size: smaller;
}
